* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
    /* overflow: hidden; */
  }

body {
    background-color: #000000;
    opacity: 1;
    animation: fadein 1s ease-in;
}

.container {
    background-image: url("../images/netflix-background-9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}